#vim:ft=gotpl
{{- if eq .chezmoi.os "darwin" -}}
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "universal-ctags/universal-ctags"

brew "autoconf"
brew "automake"
brew "bash"
brew "binutils"
brew "coreutils"
brew "diffutils"
brew "ed"
brew "findutils"
brew "flex"
brew "gawk"
brew "gcc"
brew "gnu-indent"
brew "gnu-sed"
brew "gnu-tar"
brew "gnu-which"
brew "gnupg"
brew "gpatch"
brew "grep"
brew "gzip"
brew "less"
brew "lesspipe"
brew "libtool"
brew "m4"
brew "make"
brew "nano"
brew "readline"
brew "watch"
brew "wdiff"
brew "wget"
brew "xz"
brew "zlib"

brew "diff-so-fancy"
brew "git"
brew "highlight"
brew "htop"
brew "hyperfine"
brew "libyaml"
brew "openssl@1.1"
brew "ossp-uuid"
brew "pinentry-mac"
brew "reattach-to-user-namespace"
brew "rename"
brew "rsync"
brew "screen"
brew "shellcheck"
brew "ssh-copy-id"
brew "svn"
brew "tree"
brew "universal-ctags"
brew "unixodbc"
brew "vifm"
brew "zsh"

cask "font-3270"
cask "font-3270-nerd-font"
cask "font-devicons"
cask "font-hack"
cask "font-hack-nerd-font"
cask "font-source-code-pro"
cask "pgadmin4"
cask "visual-studio-code"

{{ end -}}
