# -*- mode: sh; sh-set-shell: zsh -*-
# vim: ft=zsh

source "${HOME}/.shtils"

# ZSH only and most performant way to check existence of an executable
command_exists() { (( $+commands[$1] )); }

{{ if eq .chezmoi.os "darwin" -}}
if [[ -f "${HOME}/.gnubin_path" ]]; then
  source "${HOME}/.gnubin_path"
fi
if [[ -z "${BREW_PREFIX}" ]]; then
  export BREW_PREFIX=$([[ "$(arch)" == "arm64" ]] && echo "/opt/homebrew" || echo "/usr/local")
  pathmunge "${BREW_PREFIX}/bin" after
  pathmunge "${BREW_PREFIX}/sbin" after
fi
{{ end -}}

if [[ -z "${CHEZMOI_CONFIG_DIR}" ]]; then
  if command_exists chezmoi; then
    export CHEZMOI_CONFIG_DIR="${HOME}/.config/chezmoi"
    [[ -z "${DOTFILES_DIR}" ]] && export DOTFILES_DIR="$(chezmoi source-path)"
  fi
fi

# GPG TTY for signing (required when gpg installed via brew)
export GPG_TTY=$(command tty)

# Local bin directories - create silently if missing
_local_bin="${HOME}/.local/bin"
[[ ! -d "${_local_bin}" ]] && mkdir -p "${_local_bin}"
export LOCAL_BIN="${_local_bin}"

_local_sbin="${HOME}/.local/sbin"
[[ ! -d "${_local_sbin}" ]] && mkdir -p "${_local_sbin}"
export LOCAL_SBIN="${_local_sbin}"

# fzf bin
_fzf_bin="${HOME}/.local/share/fzf/bin"
if [[ -d "${_fzf_bin}" ]]; then
  pathmunge "${_fzf_bin}" after
fi

pathmunge "${LOCAL_BIN}" after
pathmunge "${LOCAL_SBIN}" after

# Taskwarrior config
if [[ ! -d "${XDG_CONFIG_HOME}/taskwarrior" ]] && command_exists task; then
  export TASKWARRIOR_CONFIG="${XDG_CONFIG_HOME}/taskwarrior"
fi

{{- if (hasKey . "envvars") }}
{{ range .envvars }}
export {{ . }}
{{- end -}}
{{ end }}
