golang 1.23.0
rust 1.80.1
nodejs 20.5.1
python 3.12.5
ruby 3.2.2
lua 5.4.6 5.1
elixir 1.17.1-otp-27
erlang 27.0
haskell 9.10.1
dotnet 8.0.303
java temurin-21.0.0+35.0.LTS temurin-jre-21.0.0+35.0.LTS
kotlin 2.0.0

vim 9.1.0

{{- if eq .chezmoi.os "linux" }}
tmux 3.4
{{- end }}
