# vim: ft=gotmpl
{{- if eq .chezmoi.os "darwin" }}
source "${HOME}/.shtils"

BREW_PREFIX=$([[ "$(arch)" == "arm64" ]] && echo "/opt/homebrew" || echo "/usr/local")
BREW_HOME=$(${BREW_PREFIX}/bin/brew --prefix)

pathmunge "${BREW_HOME}/bin" before

manual_pathmunge "${BREW_HOME}/share/man"
info_pathmunge "${BREW_HOME}/share/info:$INFOPATH"

# coreutils
pathmunge "${BREW_HOME}/opt/coreutils/libexec/gnubin" before
manual_pathmunge "${BREW_HOME}/opt/coreutils/libexec/gnuman"

# make
pathmunge "${BREW_HOME}/opt/make/libexec/gnubin" before
manual_pathmunge "${BREW_HOME}/opt/make/libexec/gnuman"

# m4
pathmunge "${BREW_HOME}/opt/m4/bin" before

# file-formula
pathmunge "${BREW_HOME}/opt/file-formula/bin" before

# unzip
pathmunge "${BREW_HOME}/opt/unzip/bin" before

# flex
pathmunge "${BREW_HOME}/opt/flex/bin" before
# export LDFLAGS="-L${BREW_HOME}/opt/flex/lib"
# export CPPFLAGS="-I${BREW_HOME}/opt/flex/include"

# bison
pathmunge "${BREW_HOME}/opt/bison/bin" before
# export LDFLAGS="-L${BREW_HOME}/opt/bison/lib"

# libressl
pathmunge "${BREW_HOME}/opt/libressl/bin" before
# export LDFLAGS="-L${BREW_HOME}/opt/libressl/lib"
# export CPPFLAGS="-I${BREW_HOME}/opt/libressl/include"
# export PKG_CONFIG_PATH="${BREW_HOME}/opt/libressl/lib/pkgconfig"

# ed
pathmunge "${BREW_HOME}/opt/ed/libexec/gnubin" before

# findutils
pathmunge "${BREW_HOME}/opt/findutils/libexec/gnubin" before

# gcc
pathmunge "${BREW_HOME}/opt/gcc/bin" before

# gnu-awk
pathmunge "${BREW_HOME}/opt/gawk/libexec/gnubin" before

# gnu-indent
pathmunge "${BREW_HOME}/opt/gnu-indent/libexec/gnubin" before

# gnu-sed
pathmunge "${BREW_HOME}/opt/gnu-sed/libexec/gnubin" before

# gnu-tar
pathmunge "${BREW_HOME}/opt/gnu-tar/libexec/gnubin" before

# gnu-which
pathmunge "${BREW_HOME}/opt/gnu-which/libexec/gnubin" before

# grep
pathmunge "${BREW_HOME}/opt/grep/libexec/gnubin" before

{{- if (and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64")) }}
# ncurses
pathmunge "${BREW_HOME}/opt/ncurses/bin" before
{{ end -}}

unset BREW_HOME
unset BREW_PREFIX

{{ else -}}
# empty. only for MacOS
{{ end -}}
