elixir 1.15.4-otp-26
erlang 26.0.2
java temurin-21.0.0+35.0.LTS temurin-jre-21.0.0+35.0.LTS
kotlin 1.9.0
golang 1.21.0
lua 5.4.6
nodejs 20.5.1
python 3.9.13
ruby 3.2.2
rust 1.71.1

awscli 2.13.11
{{- if eq .chezmoi.os "linux" }}
chezmoi 2.40.0
{{- end }}
concourse 7.10.0
fzf 0.42.0
gcloud 443.0.0
helm 3.12.3
jq 1.6
k3d 5.5.2
kubectl 1.28.0
kubespy 0.6.2
lua-language-server 3.6.25
neovim 0.9.4
rebar 3.22.1
sqlite 3.42.0
tmux 3.3a
vim 9.0.1751
