# vim: ft=gotexttmpl

{{ if eq .chezmoi.os "darwin" -}}
tap "universal-ctags/universal-ctags"

brew "autoconf"
brew "automake"
brew "bash"
brew "binutils"
brew "cmake"
brew "coreutils"
brew "diffutils"
brew "ed"
brew "findutils"
brew "flex"
brew "gawk"
brew "gcc"
brew "gnu-indent"
brew "gnu-sed"
brew "gnu-tar"
brew "gnu-which"
brew "gnupg"
brew "gpatch"
brew "grep"
brew "gzip"
brew "less"
brew "lesspipe"
brew "libtool"
brew "libyaml"
brew "m4"
brew "make"
brew "nano"
brew "pkg-config"
brew "readline"
brew "watch"
brew "wdiff"
brew "wget"
brew "xz"
brew "zlib"

tap "aquaproj/aqua"
brew "aquaproj/aqua/aqua"
brew "catimg"
brew "diff-so-fancy"
brew "direnv"
brew "gh"
brew "git"
brew "google-java-format"
brew "htop"
brew "hyperfine"
brew "mpv"
brew "mediainfo"
brew "openssl@3"
brew "ossp-uuid"
brew "pinentry-mac"
brew "reattach-to-user-namespace"
brew "rename"
brew "rsync"
brew "screen"
brew "ssh-copy-id"
brew "svn"
brew "task"
brew "tasksh"
brew "taskwarrior-tui"
brew "tmux"
brew "trash"
brew "tree"
brew "unar"
brew "universal-ctags"
brew "unixodbc"
brew "zsh"

cask "1password"
cask "1password-cli"
cask "alt-tab"
cask "arc"
cask "betterdisplay"
cask "bettermouse"
cask "brave-browser"
cask "chromedriver"
cask "chromium"
cask "font-3270"
cask "font-3270-nerd-font"
cask "font-devicons"
cask "font-fira-code"
cask "font-hack"
cask "font-hack-nerd-font"
cask "font-source-code-pro"
cask "font-symbols-only-nerd-font"
cask "ghostty"
cask "google-chrome"
cask "iina"
cask "karabiner-elements"
cask "keka"
cask "keyboard-maestro"
cask "neovide"
cask "ngrok"
cask "obsidian"
cask "orbstack"
cask "pearcleaner"
cask "pgadmin4"
cask "pieces"
cask "pieces-cli"
cask "pieces-os"
cask "raindropio"
cask "swish"
cask "visual-studio-code"
cask "vlc"
cask "voiceink"
cask "wezterm"
cask "zed"

{{ end -}}
