# -*- mode: sh; sh-set-shell: zsh -*-
# vim: ft=zsh

source "${HOME}/.shtils"

manual_pathmunge "/usr/local/man" before

export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-$HOME/.config}
export ZDOTDIR=${ZDOTDIR:-$XDG_CONFIG_HOME/zsh}

# You can use .zprofile to set environment vars for non-login, non-interactive shells.
if [[ ( "$SHLVL" -eq 1 && ! -o LOGIN ) && -s "${ZDOTDIR:-$HOME}/.zprofile" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprofile"
fi

# Lang stuff
export LANG=en_US.UTF-8
export LANGUAGE=en_US
export LC_ALL=en_US.UTF-8
export LC_MONETARY=en_FI.UTF-8
export LC_TIME=en_FI.UTF-8

export CLICOLOR=1
export VISUAL="nvim --cmd 'let g:flatten_wait=1'"
export EDITOR="nvim"
export PAGER=less
export MANPAGER='less -is'
export LESSOPEN="|/usr/local/bin/lesspipe.sh %s"

if command_exists nvim; then
  export MANPAGER='nvim +Man!'
fi

export DEV_WORKSPACE_ROOT="${HOME}/dev-workspace"
export REPOS_GITHUB="${DEV_WORKSPACE_ROOT}/repos/github"
export REPOS_GITHUB_PERSONAL="${REPOS_GITHUB}/neumachen"
export VCS_REPOSITORIES_DIR="${DEV_WORKSPACE_ROOT}/repos"
export TASKWARRIOR_CONFIG="${XDG_CONFIG_HOME}/taskwarrior"
