#!/bin/sh

{{ template "script_darwin_only" . }}

# Install Rosetta on Apple M1
{{ if (eq .chezmoi.arch "arm64")) }}
softwareupdate --install-rosetta --agree-to-license
{{ end }}

if command -v brew >/dev/null 2>&1; then
  echo "Skipping homebrew install since it's already available"
  exit
fi

if [ -n "$GITHUB_WORKFLOW" ]; then
  echo "::group::Installing homebrew"
fi

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

if [ -n "$GITHUB_WORKFLOW" ]; then
  echo "::endgroup::"
fi
