#!/bin/sh

. "${HOME}/.zprofile"

if [ -n "$GITHUB_WORKFLOW" ]; then
	echo-info "::group::Adding asdf plugins"
else
	echo-info "adding asdf plugins"
fi

asdf_tool_versions="${HOME}/.tool-versions"

# Check if the file exists. Exit immediately if it does not.
if [ ! -f "$asdf_tool_versions" ]; then
	echo-err "$asdf_tool_versions not found."
	exit 1
fi

. "${HOME}/.asdf/asdf.sh"

# File exists, proceed with reading and processing each line
while IFS= read -r line; do
	# Extract the first word (plugin name) from each line
	plugin=$(echo "$line" | awk '{print $1}')

	# Execute the command for the extracted plugin name
	echo-info "Adding/updating asdf plugin: $plugin"
	asdf plugin add "$plugin"
done <"$asdf_tool_versions"

if [ -n "$GITHUB_WORKFLOW" ]; then
	echo-info "::endgroup::"
else
	echo-info "asdf plugins added/updated"
fi
