prSections:
  - title: My Pull Requests
    filters: is:open author:@me
  - title: Needs My Review
    filters: is:pr is:open archived:false sort:updated-desc user:neumachen
  - title: Needs My Review
    filters: is:open review-requested:@me
  - title: Subscribed
    filters: is:open -author:@me
    limit: 10
issuesSections:
  - title: My Open Source Projects
    filters: is:issue is:open archived:false sort:updated-desc user:akinsho
  - title: My Issues
    filters: is:open author:@me
  - title: Neovim Issues
    filters: is:open repo:neovim/neovim
defaults:
  layout:
    pars:
      repo:
        grow: true
        width: 10
        hidden: false
  preview:
    open: true
    width: 50
  prsLimit: 20
  issuesLimit: 20
  view: issues
repoPaths:
  :owner/:repo: $DEV_WORKSPACE_ROOT/repos/github.com/:owner/:repo
  dlvhdr/*: $DEV_WORKSPACE_ROOT/repos/github.com/neumachen/*
keybindings:
  prs:
    - key: c
      command: kitty @ launch --cwd={{.RepoPath}} zsh -c 'gh pr checkout {{.PrNumber}}; nvim'
