# vim:ft=gitconfig
[status]
  submoduleSummary = true

[commit]
  template = {{ expandenv "${HOME}/.config/git/templates/message"}}

[color]
  branch = auto
  diff = auto
  interactive = auto
  showBranch = auto
  status = auto
  ui = auto

[core]
  autocrlf = input
  editor = nvim
  excludesfile = {{ expandenv "${HOME}/.config/git/ignore"}}
  pager = delta

  # Make `git rebase` safer on macOS.
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

  # Speed up commands involving untracked files such as `git status`.
  # https://git-scm.com/docs/git-update-index#_untracked_cache
  untrackedCache = true

[pretty]
  signed = format:%C(yellow)%h%C(reset) %C(bold blue)[%G?]%C(reset) %C(red)%d%C(reset) %s %C(green)(%cr)%C(reset) %C(dim white)<%an>%C(reset)

[format]
  pretty = signed

[alias]
  # via http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired/
  snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
  snapshots = !git stash list --grep snapshot

  # log
  l = log --graph --decorate --date=relative --pretty=signed
  changes = log --pretty=format:\"%h %cr %cn %C(bold blue)[%G?]%Creset %Cgreen%s%Creset\" --name-status

  # View the current working tree status using the short format.
  s = status -s

  # Show the diff between the latest commit and the current state.
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"

  # `git di $number` shows the diff between the state `$number` revisions ago and the current state.
  di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

  # pull
  pl = pull
  plr = pull --recurse-submodules

  # push
  ps = push
  psf = push --force-with-lease

  # rebase
  rc = rebase --continue
  rs = rebase --skip

  # commit
  cm = commit                       # commit using editor
  cam = commit -am                  # commit all with message
  call = !git add -A && git commit -av
  amend = commit --amend            # amend your last commit
  nemend = commit --amend --no-edit

  # checkout
  cco = checkout

  # Show verbose output about tags or remotes
  tags = tag -l
  remotes = remote --verbose

  # List all aliases.  Stolen from here: https://twitter.com/TrevorBramble/status/774292970681937920
  aliases = "!git config -l | grep ^alias | cut -c 7- | sort"

  fall = fetch --all

  # Reset previous commit, but keep all the associated changes. Useful for avoiding nasty git merge commits.
  uncommit = reset --soft HEAD^

  # list untracked files
  lsu = ls-files --others --exclude-standard

  # Remove branches that have already been merged with main.
  delete-merged = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

  # Show the user email for the current repository.
  whoami = config user.email

  # Review files in editor
  review = "!f() { if [ \"$1\" = \"-untracked\" ]; then git ls-files --others --exclude-standard | xargs $EDITOR; elif [ \"$1\" = \"-staged\" ]; then git diff --cached --name-only | xargs $EDITOR; elif [ \"$1\" = \"all\" ]; then $EDITOR $(git diff --name-only HEAD; git ls-files --others --exclude-standard); else git diff --name-only | xargs $EDITOR; fi; }; f"

[branch]
  # Show most recently changed branches first.
  sort = -committerdate

[diff]
  colorMoved = default
  navigate = true  # use n and N to move between diff sections
  renames = copies # Detect copies as well as renames.

[merge]
  log = true
  command = "nvim"
  args = ["-d", "{{ `{{ .Source }}` }}", "{{ `{{ .Destination }}` }}", "{{ `{{ .Target }}` }}"]
  conflictstyle = zdiff3

[delta]
  line-numbers-minus-style      = "#914c54"
  line-numbers-plus-style       = "#449dab"
  line-numbers-zero-style       = "#3b4261"
  minus-emph-style              = syntax "#763842"
  minus-empty-line-marker-style = syntax "#3f2d3d"
  minus-non-emph-style          = syntax "#3f2d3d"
  minus-style                   = syntax "#3f2d3d"
  plus-emph-style               = syntax "#316172"
  plus-empty-line-marker-style  = syntax "#283b4d"
  plus-non-emph-style           = syntax "#283b4d"
  plus-style                    = syntax "#283b4d"

  line-numbers = true
  navigate     = true
  side-by-side = true

[interactive]
  diffFilter = delta --color-only

[push]
  default = current
  followTags = true

[pull]
  default = current
  rebase = true

[rebase]
  autoStash = true

[fetch]
  prune = true

[gitsh]
  prompt = "\n%D %c(%b%#)%w ➜"

[rerere]
  enabled = false

[help]
  # Automatically correct and execute mistyped commands.
  autocorrect = 1

# URL shorthands
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
{{- if stat "/Applications/1Password.app/Contents/MacOS/op-ssh-sign" }}
  insteadOf = "https://github.com/"
{{- end }}

[url "git://github.com/"]
  insteadOf = "github:"

[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
  insteadOf = "gist:"

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[lfs "customtransfer.xet"]
  path = git-xet
  args = transfer
  concurrent = true

[ghq]
  root = {{ expandenv "${CODEBASIS_DIR}" }}
  vcs = git

[include]
  path = {{ expandenv "${HOME}/.config/git/profile" }}

{{ range .git.profiles -}}
[includeIf "gitdir:{{ .gitdir }}"]
  path = {{ expandenv "${HOME}/.config/git/profiles/{{ .name }}" }}

{{ end -}}
[init]
  defaultBranch = main
